{%extends "blog/base.html"%}

{% block title %}
About | Beniamino.org
{% endblock title %}
{%load static%}
{%block content%}
<main role="main" class="container">
<div class="row">
<div class="col-md-12">
  <article class="media content-section">
    <div class="media-body">
      <h2 class="article-title" > About Me </h2>
      <div>
        <div class="image-wrapper img-fluid float-left pr-3">
        <img src= "{% static 'blog/Images/profile_pic.jpg' %}" alt="No Image">
        </div>
        <p class="article-content">
        I am a Philosophy, Politics and Economics student at the University of London with expereince programming in Python and R. Outside of my studies I enjoy climibing and working with electronics.
        </p>
        <p class="article-content">
        This website is primarily a platform to share my code and personal projects, with some electronics work mixed in. I programmed the site using the Django framework for Python, CSS, HTML5, bootstrap, and a small ammount of Javascript.
        </p>
      </div>
  </article>
</div>
</div>
</main>
{% endblock content %}
