{%extends "blog/base.html"%}

{% block title %}
About | Beniamino.org
{% endblock title %}
{%load static%}
{%block content%}
<main role="main" class="container">
<div class="row">
<div class="col-md-12">
  <article class="media content-section">
    <div class="image-wrapper float-left pr-3">
    <img src= "{% static 'blog/Images/profile_pic.jpg' %}" alt="No Image">
    </div>
    <div class="media-body">
      <h2 class="article-title" > About </h2>
      <div>
        <p class="article-content">
        Beniamino Green studies Philosophy Politics and Economics at the University College London and has experience programming in Python and R. Outside of his studies, he enjoys climbing and working with electronics.
        </p>
      </div>
  </article>
</div>
</div>
</main>
{% endblock content %}
