{%extends "blog/base.html"%}
{%load static%}
{% load markdown_deux_tags %}
{%block content%}

<div class="jumbotron paral" style="background-image: url({% static "blog/Images/Jumbotron/thanks.JPG"%});">
  <div class="container">
    <h1 class="display-4"> Thank You </h1>
  </div>
</div>

<div class="jumbotron paral" style="background-image:
  url({% static "blog/Images/Jumbotron/test.JPG"%});">
  <div class="container">
    <h1 class="display-4">Beniamino Green</h1>
    <p class="lead">Welcome to my digital portfolio</p>
    <h4 class="lead">Connect:</h4>
      <a class="btn btn-instagram"  href="https://www.instagram.com/beniamino.green/" target="_blank" role="button">
        Instagram <i class = "fab fa-instagram"></i></a>
      <a class="btn btn-github"  href="https://github.com/beniaminogreen/" target="_blank" role="button">
        Github <i class = "fab fa-github"></i></a>
      <a class="btn btn-facebook"  href="https://www.facebook.com/profile.php?id=100026746232936/" target="_blank"  role="button">
        Facebook <i class = "fab fa-facebook"></i></a>
  </div>
</div>

{%endblock content%}
