{%extends "blog/base.html"%}

{% block title %}
Contact Me | Beniamino.org
{% endblock title %}

{%block content%}
<div class="col-md-8">
  <article class="media content-section">
    <div class="media-body">
      <h2 class="article-title" >Contact Me: </h2>
      <div>
        <form method="post">
            {% csrf_token %}
            <p>Name (required):</p>
            {{form.name}}
            <p>Email (required)</p>
            {{form.from_email}}
            <p>Message (required)</p>
            {{ form.body }}
            <p>Captcha:</p>
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6LeHaqEUAAAAAKpSR-i-UjC2UGitzRmhX3hO4LCA"></div>
            <div class="form-actions">
            <button class = "btn btn-dark" type="submit">Submit</button>
            </div>
        </form>
  </article>


{% endblock content %}
